<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142783030266-bglee81gerhsb5hf3frqd1am4tuj1ld6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142783030266-bglee81gerhsb5hf3frqd1am4tuj1ld6</string>
	<key>API_KEY</key>
	<string>AIzaSyDqsFCvAC9IKj15LBR6Vd1mpluQhVdJNAo</string>
	<key>GCM_SENDER_ID</key>
	<string>142783030266</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mihtunapps.rubberball</string>
	<key>PROJECT_ID</key>
	<string>rubberball-app</string>
	<key>STORAGE_BUCKET</key>
	<string>rubberball-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142783030266:ios:da3dbcb59951cfa1cf3a43</string>
</dict>
</plist>